@font-face {
  font-family: 'Hubot-Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Hubot-Sans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Hubot-Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Hubot-Sans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Hubot-Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Hubot-Sans-SemiBold.woff') format('woff');
  font-display: swap;
}
